@import '../../../styles/colors.scss';
@import '../../../styles/thumbnails.scss';

.filemanager-toolbar {
    border-bottom: 1px solid $lite-gray;
    padding: 12px;
    position: relative;

    svg {
        color: $medium-gray;
    }

    .search-bar {
        border: none;
        font-size: 14px;
        margin-left: 15px;
        width: calc(100% - 80px);
        &:focus {
            outline: none;
        }
    }

    .extra-tools {
        position: absolute;
        top: 12px;
        right: 12px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            cursor: pointer;
            &.separate {
                margin-right: 20px;
            }

            svg {
                margin: 0 15px 0 0;
            }

            &:hover {
                svg {
                    color: $lite-blue;
                }
            }
        }
    }
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;

    .tile-wrapper {
        list-style: none;
        margin: 0 15px 25px 0;
        cursor: pointer;
        user-select: none;

        .tile {
            background: $white;
            padding: 10px;
            width: 200px;
            height: 270px;
            border: 1px solid $lite-gray;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            .tile-content {
                height: 250px;
                width: 180px;
                overflow: hidden;
            }
        }

        .tile-name-wrapper {
            text-align: center;
            h4 {
                text-align: center;
                font-weight: 400;
                margin: 10px auto;
                padding: 5px 15px;
                border-radius: 3px;
                display: inline-block;
                font-size: 14px;
            }

            input[type='text'] {
                text-align: center;
                margin: 10px auto;
                padding: 5px;
                width: 120px;
            }
        }

        &.active {
            .tile {
                border: 1px solid $lite-blue;

                .selection-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $lite-blue;
                    opacity: 0.05;
                }
            }

            h4 {
                background: $lite-blue;
                color: $white;
            }
        }
    }
}
