@import '../../../styles/colors.scss';

.viewer {
    .header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 75px;
        box-sizing: border-box;
        padding: 15px 20px;
        border-bottom: 1px solid $lite-gray;
        color: $medium-gray;
        text-align: left;

        h1 {
            font-size: 12px;
            margin: 5px 0;
            padding: 0;
            font-weight: 400;
        }

        h2 {
            font-size: 16px;
            margin: 0;
            padding: 0;
            font-weight: 400;
        }

        .toolbar {
            position: absolute;

            right: 20px;
            top: 10px;

            display: flex;

            li {
                display: inline-block;
                padding: 0 10px;
                list-style: none;

                a {
                    color: $lite-blue;
                    text-decoration: none;
                }
            }
        }
    }

    .nav {
        position: absolute;
        border-right: 1px solid $lite-gray;
        box-sizing: border-box;
        top: 75px;
        left: 0;
        width: 300px;
        bottom: 0;
        padding: 20px 0;
    }

    .content {
        position: absolute;
        top: 75px;
        left: 300px;
        right: 0;
        bottom: 0;
    }
}
