@import '../../styles/colors.scss';

.file-menu {
    height: 100%;

    .menu-header {
        background: $medium-gray;
        display: flex;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            padding: 10px 0;
            margin: 0;
            font-size: 20px;
            color: $dark-gray;
            width: 25%;
            text-align: center;
            cursor: pointer;

            i {
                display: blocck;
                padding: 10px 15px;
                border-radius: 5px;
                &:hover {
                    background: $lite-gray;
                }
            }

            &.active {
                background: $lite-gray;
            }
        }
    }

    .file-list {
        margin: 0;
        padding: 0;
        overflow-y: auto;
        height: calc(100% - 85px);
        box-sizing: border-box;
        li {
            padding: 15px 20px;
            margin: 0;
            cursor: pointer;

            &:hover {
                background: $medium-lite-gray;
            }

            i {
                margin-right: 15px;

                &.placeholder {
                    width: 15px;
                    display: inline-block;
                }
            }

            span {
                display: inline-block;
                margin-left: 10px;
                font-size: 12px;
                color: $medium-gray;
                font-style: italic;
                vertical-align: middle;
            }
        }
    }
}
