@import '../../styles/colors.scss';

.file-menu {
    height: 100%;

    .menu-header {
        background: $medium-gray;
        display: flex;
        padding: 5px;
        box-sizing: border-box;
        margin: 0;

        li {
            list-style: none;
            font-size: 20px;
            color: $dark-gray;
            width: 14.28%;
            height: 35px;
            text-align: center;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 5px;

            &:hover {
                background: $lite-gray;
            }
            i {
                display: block;
            }

            &.active {
                background: $lite-gray;
            }
        }
    }

    .file-list {
        margin: 0;
        padding: 0;
        overflow-y: auto;
        height: calc(100% - 85px);
        box-sizing: border-box;

        li {
            padding: 15px 15px;
            margin: 0;
            cursor: pointer;

            &:hover {
                background: $medium-lite-gray;
            }

            i {
                margin-right: 15px;

                &.placeholder {
                    width: 15px;
                    display: inline-block;
                }
            }

            .doc-name {
                width: calc(100% - 110px);
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .time-span {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
                color: $medium-gray;
                font-style: italic;
                vertical-align: text-top;
            }
        }
    }
}
