@import '../../styles/render.scss';
@import '../../styles/colors.scss';

.CodeMirror {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    pre {
        padding: 5px 4px;
    }

    .CodeMirror-gutter-wrapper {
        top: calc(50% - 10px);
    }
}

.editor-toolbar {
    border-right: none;
    background: $dark-gray;
    opacity: 1;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    padding: 3px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100%);
    z-index: 999;
    height: 54px;

    button {
        background: transparent;
        color: $medium-lite-gray;
        border: none;
        -webkit-appearance: none;
        font-size: 20px;
        cursor: pointer;
        margin: 0 8px;
        &:focus {
            outline: 0;
        }
    }

    i.separator {
        background: transparent;
        color: transparent;
        font-size: 20px;
        border-right: 1px solid $medium-lite-gray;
    }
}

.splitter {
    position: absolute;
    top: 54px;
    left: calc(50% - 3px);
    bottom: 25px;
    width: 6px;
    background: #dddddd;
}

.left-pane,
.right-pane {
    width: calc(50% - 3px);
    bottom: 25px;
    position: absolute;
    top: 55px;
    z-index: 100;
}

.left-pane {
    left: 0;

    > div {
        height: 100% !important;
    }
}

.right-pane {
    left: calc(50% + 3px);
}

.side-bar-open {
    height: 100%;
    .left-pane {
        width: calc(40% - 3px);
    }
    .right-pane {
        left: calc(40% + 6px);
        width: calc(40% - 3px);
    }
    .splitter {
        left: calc(40% - 3px);
    }
}

.no-toolbar {
    .editor-toolbar {
        display: none;
    }

    .left-pane,
    .right-pane,
    .splitter {
        top: 0;
    }
}

.editor-only {
    .left-pane {
        width: calc(100% - 6px);
    }
    .right-pane {
        display: none;
    }
}
