@import '../../../../styles/colors.scss';

.generic-menu {
    .secret {
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        display: inline-block;
        margin-bottom: 15px;
    }
}
