$white: #ffffff;
$ultra-lite-gray: #eeeeee;
$lite-gray: #dddddd;
$medium-ultra-lite-gray: #cccccc;
$medium-lite-gray: #aaaaaa;
$medium-gray: #888888;
$dark-gray: #444444;
$super-dark-gray: #222222;
$black: #000000;

$lite-blue-gray: #f7f8fa;
$lite-blue: #039be5;
$cyan: #80d8ff;
$error-bg: #ffcccc;
$transparent: rgba(0, 0, 0, 0);
$statusbar-blue: #006fc5;
$secondary: #f50057;

$shade: #f4f4f4;

$bounce-1: #039be5;
$bounce-2: #ec407a;
$bounce-3: #ff9800;
