$white: #ffffff;
$ultra-lite-gray: #eeeeee;
$lite-gray: #dddddd;
$medium-ultra-lite-gray: #cccccc;
$medium-lite-gray: #aaaaaa;
$medium-gray: #888888;
$dark-gray: #444444;
$super-dark-gray: #222222;
$black: #000000;
$error-bg: #ffcccc;
$transparent: rgba(0, 0, 0, 0);
$statusbar-blue: #006fc5;
$secondary: #f50057;
