@import '../../styles/colors.scss';

.toolbar-extra {
    padding: 7.5px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    background: $dark-gray;
    width: 300px;
    font-size: 20px;
    color: $medium-lite-gray;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    .filename {
        width: 200px;

        input {
            border: 0;
            background: $dark-gray;
            color: $white;
            padding: 8px 0;
            margin: 0;
            font-size: 20px;
            text-align: center;
            width: 200px;

            &:focus {
                outline: none;
                background: $medium-gray;
                color: $dark-gray;
            }
        }
    }

    > ul {
        margin: 0;
        padding: 5px 0;
        display: flex;

        > li {
            margin: 0 5px;

            list-style: none;
            position: relative;

            > i {
                padding: 3px 8px;
                display: block;
                border-radius: 3px;

                &.active {
                    background: $white;
                }
            }
        }
    }
}
