@import '../../../styles/colors.scss';

.generic-menu {
    padding: 10px 15px;
    box-sizing: border-box;

    h3 {
        font-weight: 400;
        font-size: 14px;
        margin: 10px 0 10px 0;
        padding: 0;
        color: $dark-gray;
    }

    h4 {
        font-weight: 100;
        color: $medium-gray;
        font-size: 13px;
        margin: 20px 0 10px 0;
    }

    .primary {
        margin: 15px 0 10px 0;

        border: 0;
        &:focus {
            outline: 0;
        }
    }

    svg {
        display: inline-block;
        margin: 0 10px 0 0;
        color: $dark-gray;
        cursor: pointer;
    }

    .field {
        margin: 15px 0;
        color: $dark-gray;

        svg {
            font-size: 20px;

            &.narrow {
                font-size: 14px;
            }
        }

        label {
            display: inline-block;
            width: 200px;
            font-size: 14px;
        }
    }

    .secret {
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        display: inline-block;
        margin-bottom: 15px;
    }
}
