@import '../../../styles/colors.scss';

.no-toolbar {
    .toolbar-extra {
        display: none;
    }
}

.toolbar-extra {
    height: 54px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    background: $dark-gray;
    font-size: 20px;
    color: $medium-lite-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1002;

    .filename {
        input {
            border: 0;
            background: $dark-gray;
            color: $white;
            padding: 8px 10px;
            margin: 0;
            font-size: 20px;
            text-align: center;
            border-radius: 5px;
            width: 100px;
            &.error {
                background: $error-bg;
            }

            &:focus {
                outline: none;
                background: $medium-gray;
                color: $dark-gray;
            }
        }
    }

    > ul {
        margin: 0;
        padding: 5px 0;
        display: flex;

        > li {
            margin: 0 5px;
            list-style: none;
            position: relative;

            > i {
                padding: 3px 8px;
                display: block;
                border-radius: 3px;

                &.active {
                    background: $white;
                }
            }
        }
    }
}
