@import '../../../styles/colors.scss';

.container {
    padding: 10px 15px;
    border-bottom: 1px solid $medium-ultra-lite-gray;
    position: relative;

    &:last-child {
        border: 0;
    }

    &.buttons {
        text-align: right;
        button {
            display: inline-block;
            margin: 10px 0 10px 10px;
        }
    }

    &.expandable {
        cursor: pointer;
    }

    &.command {
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background: $medium-ultra-lite-gray;
        }
    }

    .chev {
        position: absolute;
        right: 0px;
        top: calc(50% - 10px);
        transition-property: transform;
        transition-duration: 0.1s;

        &.down {
            transform: rotate(90deg);
        }
    }
}

.content {
    max-height: 1000px;
    transition: max-height 0.2s linear;
    overflow: hidden;

    &.hide {
        max-height: 0;

        transition: max-height 0.2s linear;
    }
}
