@import '../../styles/render.scss';
@import '../../styles/colors.scss';

.preview-wrapper {
    height: 100%;

    .preview-header {
        box-sizing: border-box;
        height: 54px;
    }

    .preview-pane {
        padding: 10px 20px;
        height: calc(100% - 20px);
        overflow-y: scroll;
    }
}

.markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
}
