@import '../../../styles/render.scss';
@import '../../../styles/colors.scss';

.CodeMirror {
    border: none;
    height: calc(100% - 45px);
    width: 100%;
    padding: 0;
    margin-top: 45px;

    pre {
        padding: 5px 4px;
    }

    .CodeMirror-gutters {
        border: none;
    }

    .CodeMirror-gutter {
        background: $white;
        font-size: 12px;
    }

    .CodeMirror-gutter-wrapper {
        top: calc(50% - 10px);
    }

    .CodeMirror-linenumber {
        color: $lite-gray;
    }
}

.editor-container {
    height: 100%;

    .editor-wrapper {
        position: relative;
        left: 300px;
        width: 100%;
        height: 100%;

        .editor-toolbar {
            background: $white;
            opacity: 1;
            box-sizing: border-box;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-bottom: 1px solid $lite-gray;
            padding: 0;
            position: fixed;
            top: 0;
            left: 300px;
            right: 0;
            z-index: 999;
            height: 45px;
            display: flex;
            align-items: center;

            button {
                background: transparent;
                color: $medium-lite-gray;
                border: 1px solid $lite-gray;
                -webkit-appearance: none;
                font-size: 12px;
                cursor: pointer;
                margin: 0 0 0 5px;

                &:focus {
                    outline: 0;
                }
            }

            i.separator {
                background: transparent;
                color: transparent;
                font-size: 16px;
                margin: 0 0 0 5px;
                border-right: 1px solid $medium-lite-gray;
            }
        }

        .splitter {
            position: absolute;
            top: 0;
            left: calc(50% - 3px - 150px);
            bottom: 25px;
            width: 6px;
            background: $lite-gray;
        }

        .left-pane,
        .right-pane {
            box-sizing: border-box;
            width: calc(50% - 3px - 150px);
            bottom: 25px;
            position: absolute;
            top: 0;
            z-index: 100;
        }

        .left-pane {
            > div {
                height: 100% !important;
            }
        }

        .right-pane {
            left: calc(50% + 3px - 150px);
        }

        .no-toolbar {
            .editor-toolbar {
                display: none;
            }

            .left-pane,
            .right-pane,
            .splitter {
                top: 0;
            }
        }

        .editor-only {
            .left-pane {
                width: calc(100% - 6px);
            }
            .right-pane {
                display: none;
            }
        }
    }
}
