@import '../../../styles/colors.scss';

.app-bar {
    position: absolute;
    left: 0;
    width: 300px;
    top: 0;
    bottom: 0;
    background: $shade;
    padding: 30px 0;
    box-sizing: border-box;

    .avatar {
        display: flex;
        margin: 0 30px;

        .details {
            margin-left: 10px;

            h2 {
                font-size: 14px;
                font-weight: 300;
                color: $dark-gray;
                margin: 5px 0;
                padding: 0;
            }

            h3 {
                font-size: 12px;
                font-weight: 300;
                color: $medium-gray;
                margin: 5px 0;
                padding: 0;
            }
        }
    }

    .compose {
        margin: 30px 30px 0 30px;
        text-align: center;
    }

    .app-menu {
        margin: 30px 0 0 0;

        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 20px 0 20px 50px;
                margin: 0;
                list-style: none;
                cursor: pointer;

                .menu-label {
                    color: $dark-gray;
                    cursor: pointer;
                    width: 120px;
                    margin-right: 20px;
                    display: inline-block;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    vertical-align: bottom;
                }

                .cmd {
                    svg {
                        color: $lite-blue;
                    }
                }

                .count {
                    color: $medium-gray;
                }

                &.active {
                    .menu-label {
                        font-weight: bold;

                        input[type='text'] {
                            border: none;
                            font-size: 16px;
                            width: 120px;

                            &:focus {
                                outline: none;
                            }
                        }
                        .hide {
                            display: none;
                        }
                    }

                    background: $white;
                }

                &:hover {
                    .menu-label {
                        color: $lite-blue;
                    }
                    .cmd {
                        display: inline-block;
                    }
                    .icon {
                        color: $lite-blue;
                    }
                }
            }
        }
    }

    .icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        color: $medium-gray;

        &.primary {
            color: $white;
        }
    }
}
