@import '../../../styles/colors.scss';

.nav {
    overflow-y: scroll;
    a {
        color: $dark-gray;
        text-decoration: none;
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-weight: 400;

        &.active {
            color: $lite-blue;
            font-weight: 500;
        }

        &:hover {
            color: $lite-blue;
        }
    }

    > ul {
        margin: 0;
        padding: 0;

        > li {
            list-style: none;

            > a {
                color: $black;
                padding: 5px 20px;
            }

            > ul {
                padding: 5px 0 0 0;

                > li {
                    list-style: none;

                    > a {
                        color: $dark-gray;
                        padding: 5px 40px;
                    }

                    > ul {
                        padding: 5px 0 0 0;

                        > li {
                            list-style: none;

                            > a {
                                color: $medium-gray;
                                padding: 5px 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
